### Question 1- Write a Python program to replace all occurrences of a space, comma, or dot with a colon.

#### Sample Text- 'Python Exercises, PHP exercises.'

#### Expected Output: Python:Exercises::PHP:exercises:

In [12]:
import re
Sample_Text = 'Python Exercises, PHP exercises.'
output = re.sub(r'[ ,.]',':',Sample_Text)
print(output)

Python:Exercises::PHP:exercises:

### Question 2-  Create a dataframe using the dictionary below and remove everything (commas (,), !, XXXX, ;, etc.) from the columns except words.
#### Dictionary- {'SUMMARY' : ['hello, world!', 'XXXXX test', '123four, five:; six...']}
#### Expected output-
#### 0      hello world
#### 1             test
#### 2    four five six

In [29]:
import pandas as pd
df = pd.DataFrame({'SUMMARY' : ['hello, world!', 'XXXXX test', '123four, five:; six...']})

df['SUMMARY'] = df['SUMMARY'].str.replace('[^a-zA-Z\s]','',regex=True)
print(df)

         SUMMARY
0    hello world
1     XXXXX test
2  four five six

### Question 3- Create a function in python to find all words that are at least 4 characters long in a string. The use of the re.compile() method is mandatory.

In [36]:
string = """"Python is a high-level, interpreted, object-oriented, and dynamic programming language,
with a simple and readable syntax. It supports modules, packages, and a large standard library,
for Rapid Application Development and scripting""" 
pattern = r'\b\w{4,}\b'
prg = re.compile(pattern)
output = prg.findall(string)
print(output)

['Python', 'high', 'level', 'interpreted', 'object', 'oriented', 'dynamic', 'programming', 'language', 'with', 'simple', 'readable', 'syntax', 'supports', 'modules', 'packages', 'large', 'standard', 'library', 'Rapid', 'Application', 'Development', 'scripting']

### Question 4- Create a function in python to find all three, four, and five character words in a string. The use of the re.compile() method is mandatory.

In [38]:
string = """"Python is a high-level, interpreted, object-oriented, and dynamic programming language,
with a simple and readable syntax. It supports modules, packages, and a large standard library,
for Rapid Application Development and scripting""" 
pattern = r'\b\w{3,5}\b'
prg = re.compile(pattern)
output = prg.findall(string)
print(output)

['high', 'level', 'and', 'with', 'and', 'and', 'large', 'for', 'Rapid', 'and']

### Question 5- Create a function in Python to remove the parenthesis in a list of strings. The use of the re.compile() method is mandatory.

In [173]:
def paranthesis(Sample_Text):
    pattern = re.compile(r"[()]")
    m = []
    for i in Sample_Text:
        a = re.sub(pattern,'',i)
        m.append(a)
    return m

In [174]:
Sample_Text = ["example(.com)", "hr@fliprobo(.com)", "github(.com)", "Hello (Data Science World)", "Data (Scientist)"]
output = paranthesis(Sample_Text)
print(output)

['example.com', 'hr@fliprobo.com', 'github.com', 'Hello Data Science World', 'Data Scientist']

### Question 6- Write a python program to remove the parenthesis area from the text stored in the text file using Regular Expression.
#### Sample Text: ["example (.com)", "hr@fliprobo (.com)", "github (.com)", "Hello (Data Science World)", "Data (Scientist)"]
#### Expected Output: ["example", "hr@fliprobo", "github", "Hello", "Data"]

In [1]:
import re

In [19]:
with open('Regex.txt', 'r') as file: ## Regex is a text file
    text = file.read()
new_text = re.sub(r'\([^()]*\)', '', text)

In [20]:
with open('Regex.txt', 'w') as file:
    file.write(new_text)

In [21]:
print(new_text)

["example ", "hr@fliprobo ", "github ", "Hello ", "Data "]

### Question 7- Write a regular expression in Python to split a string into uppercase letters.

In [43]:
import re
Sample_text= 'ImportanceOfRegularExpressionsInPython'
pattern = r'[A-Z][a-z]*'
result = re.findall(pattern,Sample_text)
print(result)

['Importance', 'Of', 'Regular', 'Expressions', 'In', 'Python']

### Question 8- Create a function in python to insert spaces between words starting with numbers

In [103]:
import re

def insert_spaces(Text):
    pattern = r"(\d+)([a-zA-Z]+)"
    result = re.sub(pattern, r" \1\2", Text)
    return result

In [104]:
Text= "RegularExpression1IsAn2ImportantTopic3InPython"
insert_spaces(Text)

'RegularExpression 1IsAn 2ImportantTopic 3InPython'

### Question 9- Create a function in python to insert spaces between words starting with capital letters or with numbers.
#### Sample Text: “RegularExpression1IsAn2ImportantTopic3InPython"
#### Expected Output:  RegularExpression 1 IsAn 2 ImportantTopic 3 InPython

In [105]:
import re

def insert_spaces(Text):
    pattern = r"(\d+)([a-zA-Z]+)"
    result = re.sub(pattern, r" \1 \2", Text)
    return result

In [106]:
Text= "RegularExpression1IsAn2ImportantTopic3InPython"
insert_spaces(Text)

'RegularExpression 1 IsAn 2 ImportantTopic 3 InPython'

### Question 10- Use the github link below to read the data and create a dataframe. After creating the dataframe extract the first 6 letters of each country and store in the dataframe under a new column called first_five_letters.
#### Github Link-  https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv

In [162]:
import pandas as pd
df = pd.read_csv('https://raw.githubusercontent.com/dsrscientist/DSData/master/happiness_score_dataset.csv')
df

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176
...,...,...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042
154,Benin,Sub-Saharan Africa,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328
155,Syria,Middle East and Northern Africa,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858
156,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302
157,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726

In [163]:
df1 = pd.DataFrame(df)
df1

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176
...,...,...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042
154,Benin,Sub-Saharan Africa,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328
155,Syria,Middle East and Northern Africa,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858
156,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302
157,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726

In [164]:
pattern = r'(\w{6})'
df1['first_five_letters'] = df1['Country'].str.extract(pattern,expand=False)

In [165]:
df1

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual,first_five_letters
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738,Switze
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201,Icelan
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204,Denmar
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531,Norway
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176,Canada
...,...,...,...,...,...,...,...,...,...,...,...,...,...
153,Rwanda,Sub-Saharan Africa,154,3.465,0.03464,0.22208,0.77370,0.42864,0.59201,0.55191,0.22628,0.67042,Rwanda
154,Benin,Sub-Saharan Africa,155,3.340,0.03656,0.28665,0.35386,0.31910,0.48450,0.08010,0.18260,1.63328,NaN
155,Syria,Middle East and Northern Africa,156,3.006,0.05015,0.66320,0.47489,0.72193,0.15684,0.18906,0.47179,0.32858,NaN
156,Burundi,Sub-Saharan Africa,157,2.905,0.08658,0.01530,0.41587,0.22396,0.11850,0.10062,0.19727,1.83302,Burund
157,Togo,Sub-Saharan Africa,158,2.839,0.06727,0.20868,0.13995,0.28443,0.36453,0.10731,0.16681,1.56726,NaN

### Question 11- Write a Python program to match a string that contains only upper and lowercase letters, numbers, and underscores.

In [2]:
import re
pattern = '^[a-zA-Z0-9_-]*$'
string = 'PytH0n_is-25languaGe'
result = re.match(pattern,string)
print(result)

<re.Match object; span=(0, 20), match='PytH0n_is-25languaGe'>

### Question 12- Write a Python program where a string will start with a specific number.

In [5]:
## 1st method
string = '542 45647 python is a Programming Language'
pattern = '^\d'
result = re.match(pattern,string)
print(result)

<re.Match object; span=(0, 1), match='5'>

In [12]:
## 2nd method
def spec(string):
    number = re.compile(r'^\d')
    if number.match(string):
        return True
    else:
        return False
    
string = '542 45647 python is a Programming Language'
print(spec(string))

True

### Question 13- Write a Python program to remove leading zeros from an IP address

In [19]:
ip_add = '241.015.420.604'
pattern = '[0]'
result = re.sub(pattern,'',ip_add)
print(result)

241.15.42.64

### Question 14- Write a regular expression in python to match a date string in the form of Month name followed by day number and year stored in a text file.

In [52]:
text = 'On August 15 1947 that India was declared independent from British colonialism, and the reins of control were handed over to the leaders of the Country'

pattern = '(A.*t) (\d{1,2}) (\d{4})'

matches = re.findall(pattern, text)
print(matches)

[('August', '15', '1947')]

### Question 15- Write a Python program to search some literals strings in a string.

In [56]:
Sample_text = 'The quick brown fox jumps over the lazy dog.'
pattern = ['fox', 'dog', 'horse']
for i in pattern:
    print(i,Sample_text)
    if re.search(i,Sample_text):
        print('matched')
    else:
        print('Not matched')

fox The quick brown fox jumps over the lazy dog.
matched
dog The quick brown fox jumps over the lazy dog.
matched
horse The quick brown fox jumps over the lazy dog.
Not matched

### Question 16- Write a Python program to search a literals string in a string and also find the location within the original string where the pattern occurs

In [57]:
Sample_text = 'The quick brown fox jumps over the lazy dog.'
pattern = 'fox'
x = re.search(pattern,Sample_text)
print(x)

<re.Match object; span=(16, 19), match='fox'>

### Question 17- Write a Python program to find the substrings within a string.

In [98]:
import re
Sample_text = 'Python exercises, PHP exercises, C# exercises'
pattern = 'exercises'
result = re.findall(pattern,Sample_text)
print(result)

['exercises', 'exercises', 'exercises']

### Question 18- Write a Python program to find the occurrence and position of the substrings within a string.

In [102]:
import re
Sample_text = 'Python exercises, PHP exercises, C# exercises'
pattern = 'exercises'
result = [i for i in range(len(Sample_text))if Sample_text.startswith(pattern,i)]
print('position of substring is',result)

position of substring is [7, 22, 36]

### Question 19- Write a Python program to convert a date of yyyy-mm-dd format to dd-mm-yyyy format.

In [134]:
string = 'My Date of birth is 1995-10-09 last year we enjoyed alot'
pattern = r'(\d{4})-(\d{2})-(\d{2})'
result = re.sub(pattern,'\\3-\\2-\\1',string)
print(result)

My Date of birth is 09-10-1995 last year we enjoyed alot

### Question 20- Create a function in python to find all decimal numbers with a precision of 1 or 2 in a string. The use of the re.compile() method is mandatory.

In [179]:
def func(string):
    prg = re.compile(r'\d+\.\d{2}')
    result = prg.findall(string)
    return result

In [180]:
string = "01.12 0132.123 2.31875 145.8 3.01 27.25 0.25"
func(string)

['01.12', '0132.12', '2.31', '3.01', '27.25', '0.25']

### Question 21- Write a Python program to separate and print the numbers and their position of a given string.

In [195]:
string = 'Gandhi served in and lead an Ambulance Corps Unit in both the Boer War 1899-1892 and the Zulu War of 1906'
for m in re.finditer("\d+", string):
    print(m.group())
    print("Index position is", m.start())

1899
Index position is 71
1892
Index position is 76
1906
Index position is 101

 ### Question 22- Write a regular expression in python program to extract maximum/largest numeric value from a string.

In [209]:
Sample_Text= 'My marks in each semester are: 947, 896, 926, 524, 734, 950, 642'
pattern = r'\d+'
a = re.findall(pattern,Sample_Text)
print('largest value is :',max(a))

largest value is : 950

### Question 23- Create a function in python to insert spaces between words starting with capital letters.

In [324]:
def space(Sample_Text):
    pattern = r"(\w)([A-Z])"
    return re.sub(pattern,r"\1 \2",Sample_Text)

In [325]:
Sample_Text = "RegularExpressionIsAnImportantTopicInPython"
print(space(Sample_Text))

Regular Expression Is An Important Topic In Python

### Question 24- Python regex to find sequences of one upper case letter followed by lower case letters

In [330]:
import re
string = 'PyThOn'
pattern = r'[A-Z]+[a-z]+'
if re.search(pattern,string):
    print('Sequence Matched')
else:
    print('Sequence Not Matched')

Sequence Matched

### Question 25- Write a Python program to remove continuous duplicate words from Sentence using Regular Expression.

In [341]:
Sample_Text= "Hello hello world world"
pattern = r'\b(\w+)(\s+\1\b)+'
a = re.sub(pattern,r'\1',Sample_Text)
print(a)

Hello hello world

### Question 26-  Write a python program using RegEx to accept string ending with alphanumeric character.

In [342]:
string = 'acsd122 is a great language @%*&'
x = re.match(r'^\w.+',string)
print(x)

<re.Match object; span=(0, 32), match='acsd122 is a great language @%*&'>

### Question 27-Write a python program using RegEx to extract the hashtags.

In [346]:
Sample_Text = """RT @kapil_kausik: #Doltiwal I mean #xyzabc is "hurt" by #Demonetization as the same has rendered USELESS <ed><U+00A0><U+00BD><ed><U+00B1><U+0089> "acquired funds" No wo"""
re.findall(r'#\w+',Sample_Text)

['#Doltiwal', '#xyzabc', '#Demonetization']

### Question 28- Write a python program using RegEx to remove <U+..> like symbols
### Check the below sample text, there are strange symbols something of the sort <U+..> all over the place. You need to come up with a general Regex expression that will cover all such symbols.

In [358]:
Sample_Text="@Jags123456 Bharat band on 28??<ed><U+00A0><U+00BD><ed><U+00B8><U+0082>Those who  are protesting #demonetization  are all different party leaders"
pattern = r'<U\+\w{4}>'
a = re.sub(pattern,'',Sample_Text)
print(a)

@Jags123456 Bharat band on 28??<ed><ed>Those who  are protesting #demonetization  are all different party leaders

### Question 29- Write a python program to extract dates from the text stored in the text file.

In [380]:
import re
with open('dates.txt', 'r') as file:   ## extract_date is a text file
    text = file.read()
new_text = re.findall(r'\d{2}-\d{2}-\d{4}',text)

In [381]:
print(new_text)

['12-09-1992', '15-12-1999']

### Question 30- Create a function in python to remove all words from a string of length between 2 and 4.The use of the re.compile() method is mandatory.

In [395]:
def word(Sample_Text):
    prg = re.compile(r"\b\w{2,4}\b")
    a = re.sub(prg,'',Sample_Text)
    print(a)

In [396]:
Sample_Text= "The following example creates an ArrayList with a capacity of 50 elements. 4 elements are then added to the ArrayList and the ArrayList is trimmed accordingly."
word(Sample_Text)

 following example creates  ArrayList  a capacity   elements. 4 elements   added   ArrayList   ArrayList  trimmed accordingly.