In [1]:
!pip install requests
!pip install bs4

Requirement already satisfied: requests in c:\users\nikhi\anaconda3\lib\site-packages (2.31.0)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\nikhi\anaconda3\lib\site-packages (from requests) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\nikhi\anaconda3\lib\site-packages (from requests) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\nikhi\anaconda3\lib\site-packages (from requests) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\nikhi\anaconda3\lib\site-packages (from requests) (2023.7.22)
Requirement already satisfied: bs4 in c:\users\nikhi\anaconda3\lib\site-packages (0.0.2)
Requirement already satisfied: beautifulsoup4 in c:\users\nikhi\anaconda3\lib\site-packages (from bs4) (4.12.2)
Requirement already satisfied: soupsieve>1.2 in c:\users\nikhi\anaconda3\lib\site-packages (from beautifulsoup4->bs4) (2.4)

In [2]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

## Q 1) Write a python program to display IMDB’s Top rated 100 Indian movies’ data
https://www.imdb.com/list/ls056092300/ (i.e. name, rating, year ofrelease) and make data frame.

In [643]:
web = requests.get('https://www.imdb.com/list/ls056092300/')

In [644]:
soup = BeautifulSoup(web.content)

In [645]:
name = soup.find_all('h3',class_="lister-item-header")

In [646]:
Movie_name = []
for i in name:
    for j in i.find_all('a'):
        Movie_name.append(j.text)

In [647]:
Movie_name

['Ship of Theseus',
 'Iruvar',
 'Kaagaz Ke Phool',
 'Lagaan: Once Upon a Time in India',
 'Pather Panchali',
 'Charulata',
 'Rang De Basanti',
 'Dev.D',
 '3 Idiots',
 'Awaara',
 'Nayakan',
 'Aparajito',
 'Pushpaka Vimana',
 'Pyaasa',
 'Ghatashraddha',
 'Sholay',
 'Aradhana',
 'Do Ankhen Barah Haath',
 'Bombay',
 'Neecha Nagar',
 'Do Bigha Zamin',
 'Garm Hava',
 'Piravi',
 'Mughal-E-Azam',
 'Amma Ariyan',
 'Madhumati',
 'Goopy Gyne Bagha Byne',
 'Gangs of Wasseypur',
 'Guide',
 'Satya',
 'Roja',
 'Mr. India',
 'The Cloud-Capped Star',
 'Harishchandrachi Factory',
 'Masoom',
 'Agneepath',
 'Tabarana Kathe',
 'Zakhm',
 'Dil Chahta Hai',
 'Bhaag Milkha Bhaag',
 'Chupke Chupke',
 'Dilwale Dulhania Le Jayenge',
 'Taare Zameen Par',
 'Ardh Satya',
 'Bhumika',
 'Enthiran',
 'Sadma',
 'Shwaas',
 'Lamhe',
 'Haqeeqat',
 'Shree 420',
 'Kannathil Muthamittal',
 'Hum Aapke Hain Koun..!',
 'Ustad Hotel',
 'Bandit Queen',
 'Lakshya',
 'Black Friday',
 'Manthan',
 'Apoorva Raagangal',
 'English Vinglish',
 'Jewel Thief',
 'Pakeezah',
 'Maqbool',
 'Jis Desh Men Ganga Behti Hai',
 'Sahib Bibi Aur Ghulam',
 'Shatranj Ke Khilari',
 'Narthanasala',
 'Chandni Bar',
 'Vaaranam Aayiram',
 'Mr. and Mrs. Iyer',
 'Chandni',
 'English, August',
 'Celluloid',
 'Sagara Sangamam',
 'Munna Bhai M.B.B.S.',
 'Saaransh',
 'Guddi',
 'Vanaja',
 'Vazhakku Enn 18/9',
 'Gangaajal',
 'Angoor',
 'Guru',
 'Andaz Apna Apna',
 'Sangam',
 'Oka Oori Katha',
 'Bhuvan Shome',
 'Border',
 'Parineeta',
 'Devdas',
 'Abohomaan',
 'Kuch Kuch Hota Hai',
 'Pithamagan',
 'Veyyil',
 'Chemmeen',
 'Jaane Bhi Do Yaaro',
 'Apur Sansar',
 'Kanchivaram',
 'Monsoon Wedding',
 'Black',
 'Deewaar']

In [648]:
year = []
for i in soup.find_all('span',class_="lister-item-year text-muted unbold"):
    a=i.text.replace('(','')
    year.append(a.replace(')',''))

In [649]:
year

['2012',
 '1997',
 '1959',
 '2001',
 '1955',
 '1964',
 '2006',
 '2009',
 '2009',
 '1951',
 '1987',
 '1956',
 '1987',
 '1957',
 '1977',
 '1975',
 '1969',
 '1957',
 '1995',
 '1946',
 '1953',
 '1974',
 '1989',
 '1960',
 '1986',
 '1958',
 '1969',
 '2012',
 '1965',
 '1998',
 '1992',
 '1987',
 '1960',
 '2009',
 '1983',
 '1990',
 '1986',
 '1998',
 '2001',
 '2013',
 '1975',
 '1995',
 '2007',
 '1983',
 '1977',
 '2010',
 '1983',
 '2004',
 '1991',
 '1964',
 '1955',
 '2002',
 '1994',
 '2012',
 '1994',
 '2004',
 '2004',
 '1976',
 '1975',
 '2012',
 '1967',
 '1972',
 '2003',
 '1960',
 '1962',
 '1977',
 '1963',
 '2001',
 '2008',
 '2002',
 '1989',
 '1994',
 '2013',
 '1983',
 '2003',
 '1984',
 '1971',
 '2006',
 '2012',
 '2003',
 '1982',
 '2007',
 '1994',
 'I 1964',
 '1978',
 '1969',
 'I 1997',
 '2005',
 '1955',
 '2009',
 '1998',
 '2003',
 '2006',
 '1965',
 '1983',
 '1959',
 '2008',
 '2001',
 '2005',
 '1975']

In [650]:
rate =[]
for i in soup.find_all('div',class_="ipl-rating-star small"):
    rate.append(i.text.strip())

In [651]:
rate

['8',
 '8.4',
 '7.8',
 '8.1',
 '8.2',
 '8.1',
 '8.1',
 '7.9',
 '8.4',
 '7.8',
 '8.6',
 '8.2',
 '8.6',
 '8.3',
 '7.6',
 '8.1',
 '7.6',
 '8.4',
 '8.1',
 '6.7',
 '8.3',
 '8.1',
 '7.8',
 '8.1',
 '7.4',
 '7.8',
 '8.7',
 '8.2',
 '8.3',
 '8.3',
 '8.1',
 '7.7',
 '7.8',
 '8.4',
 '8.4',
 '7.6',
 '8.1',
 '7.9',
 '8.1',
 '8.2',
 '8.3',
 '8',
 '8.3',
 '8.1',
 '7.4',
 '7.1',
 '8.3',
 '8.2',
 '7.2',
 '7.8',
 '7.9',
 '8.4',
 '7.5',
 '8.2',
 '7.5',
 '7.8',
 '8.4',
 '7.6',
 '7.6',
 '7.8',
 '7.9',
 '7.2',
 '8',
 '7.1',
 '8.1',
 '7.5',
 '8.1',
 '7.6',
 '8.2',
 '7.9',
 '6.7',
 '7.6',
 '7.7',
 '8.8',
 '8.1',
 '8.1',
 '7.2',
 '7.2',
 '8.3',
 '7.8',
 '8.3',
 '7.7',
 '8',
 '7.3',
 '7.8',
 '7.2',
 '7.9',
 '7.2',
 '7.7',
 '7.5',
 '7.5',
 '8.3',
 '7.8',
 '7.8',
 '8.3',
 '8.4',
 '8.2',
 '7.3',
 '8.1',
 '8']

In [652]:
df = pd.DataFrame({'Movie_name':Movie_name,'year':year,'rate':rate})

In [653]:
df

                           Movie_name  year rate
0                     Ship of Theseus  2012    8
1                              Iruvar  1997  8.4
2                     Kaagaz Ke Phool  1959  7.8
3   Lagaan: Once Upon a Time in India  2001  8.1
4                     Pather Panchali  1955  8.2
..                                ...   ...  ...
95                        Apur Sansar  1959  8.4
96                        Kanchivaram  2008  8.2
97                    Monsoon Wedding  2001  7.3
98                              Black  2005  8.1
99                            Deewaar  1975    8

[100 rows x 3 columns]

## Q2-Please visit https://www.cnbc.com/world/?region=world and scrap-

a) headings

b) date

c) News link

In [737]:
web = requests.get('https://www.cnbc.com/world/?region=world')
web

In [738]:
soup1 = BeautifulSoup(web.content)

In [739]:
heading = []
for i in soup1.find_all('a',class_="LatestNews-headline"):
    heading.append(i.text)

In [740]:
heading

['European markets set for gains ahead of euro zone inflation data',
 'CNBC Daily Open: Wall Street unfazed by hot inflation data',
 "India 'easily' the fastest growing economy, IMF executive director says, as GDP growth blows past estimates",
 "Ukraine's losses on the battlefield could make the war more dangerous for Russia",
 'Europe is having its worst earnings season in 4 years — with little hope of a quick turnaround',
 'UK to lead European real estate boom as buyers eye investment opportunities',
 'India approves three chip plants with over $15 billion in investments to realize semiconductor ambitions',
 'China calls on foreign businesses to share their problems as investment slumps',
 'What tech giants are betting on — from robot dogs to wrist-wearable smartphones',
 'Facebook is getting rid of the News tab in the U.S. and Australia',
 "Japan's factory activity contracts most in over three years",
 'CNBC Daily Open: Hot inflation data but could have been worse',
 'Jim Cramer explains why the market rallied on Thursday',
 'Tesla stands to earn billions by opening U.S. chargers to drivers of Ford, other EVs',
 "Psychologist: The No. 1 'gentle parenting' mistake—and how to avoid it",
 '10 best places to buy a winter vacation home based on rental performance',
 'CEO says Hormel Foods is well-positioned as weight-loss drugs grow popular',
 "Cramer's Lightning Round: Signet Jewelers is a winner",
 "Japan's Nikkei 225 closes shy of 40,000 record level; China markets rise after factory data  ",
 'India’s Byju’s lost more than $20 billion in valuation — what went wrong?',
 'Veteran advisor sees signs of an AI-fueled market bubble, but not of it bursting',
 "Forget cash — it's time to move into fixed income, strategist says",
 "Citi names 'Super 7' global stocks similar to the Magnificent 7 — but cheaper",
 "Death of Foremost CEO Angela Chao under 'criminal investigation,' sheriff says",
 'Stock futures edge higher after the market wraps its 4th winning month in a row',
 "Outages from Change Healthcare cyberattack causing financial 'mess' for doctors",
 "Snowflake's Slootman not worried about employee exodus: 'This is not a personal cult'",
 "High-tech red light therapy is trending on TikTok: Here's what to know",
 'Harvard Business School grad accused of swindling alums out of $2.9 million',
 "Christie's just sold a Rothko painting for $100 million in a secret sale"]

In [741]:
len(heading)

30

In [742]:
time = []
for i in soup1.find_all('time',class_="LatestNews-timestamp"):
    time.append(i.text)

In [743]:
time

['5 Min Ago',
 '15 Min Ago',
 '1 Hour Ago',
 '2 Hours Ago',
 '2 Hours Ago',
 '2 Hours Ago',
 '4 Hours Ago',
 '4 Hours Ago',
 '4 Hours Ago',
 '4 Hours Ago',
 '5 Hours Ago',
 '7 Hours Ago',
 '7 Hours Ago',
 '8 Hours Ago',
 '8 Hours Ago',
 '8 Hours Ago',
 '8 Hours Ago',
 '8 Hours Ago',
 '8 Hours Ago',
 '8 Hours Ago',
 '8 Hours Ago',
 '8 Hours Ago',
 '8 Hours Ago',
 '9 Hours Ago',
 '9 Hours Ago',
 '10 Hours Ago',
 '10 Hours Ago',
 '10 Hours Ago',
 '10 Hours Ago',
 '10 Hours Ago']

In [744]:
len(time)

30

In [747]:
link = []
for i in soup1.find_all('a',class_="LatestNews-headline"):
    link.append(i['href'])

In [748]:
link

['https://www.cnbc.com/2024/03/01/europe-markets-open-to-close-us-euro-zone-inflation-data-in-focus.html',
 'https://www.cnbc.com/2024/03/01/cnbc-daily-open-wall-street-unfazed-by-hot-inflation-data.html',
 'https://www.cnbc.com/2024/03/01/india-easily-fastest-growing-economy-imf-director-says-as-gdp-growth-soars.html',
 'https://www.cnbc.com/2024/03/01/ukraines-losses-on-the-battlefield-raise-more-war-risks-for-russia.html',
 'https://www.cnbc.com/2024/03/01/europe-is-having-its-worst-earnings-season-since-the-onset-of-covid.html',
 'https://www.cnbc.com/2024/03/01/uk-europe-real-estate-to-surge-as-buyers-eye-investment-opportunities.html',
 'https://www.cnbc.com/2024/03/01/india-boosts-chip-ambitions-okays-plants-with-15-billion-in-investments.html',
 'https://www.cnbc.com/2024/03/01/china-calls-on-foreign-businesses-to-share-their-problems-as-investment-slumps.html',
 'https://www.cnbc.com/2024/03/01/latest-tech-gadgets-smart-rings-robot-dogs-bendable-phones.html',
 'https://www.cnbc.com/2024/03/01/facebook-is-getting-rid-of-the-news-tab-in-the-us-and-australia.html',
 'https://www.cnbc.com/2024/03/01/japans-factory-activity-contracts-most-in-over-three-years.html',
 'https://www.cnbc.com/2024/03/01/cnbc-daily-open-hot-inflation-data-but-could-have-been-worse.html',
 'https://www.cnbc.com/2024/02/29/jim-cramer-explains-why-the-market-rallied-on-thursday.html',
 'https://www.cnbc.com/2024/02/29/tesla-to-earn-billions-from-charging-partnerships-with-ford-others.html',
 'https://www.cnbc.com/2024/02/29/psychologist-the-no-1-gentle-parenting-mistake-and-how-to-avoid-it.html',
 'https://www.cnbc.com/2024/02/29/vacasa-top-us-places-buy-winter-vacation-home.html',
 'https://www.cnbc.com/2024/02/29/ceo-says-hormel-foods-is-well-positioned-as-weight-loss-drugs-get-big.html',
 'https://www.cnbc.com/2024/02/29/cramers-lightning-round-signet-jewelers-is-a-winner.html',
 'https://www.cnbc.com/2024/03/01/asia-markets-.html',
 'https://www.cnbc.com/2024/03/01/the-rise-and-fall-of-byjus-once-a-startup-darling-in-india.html',
 'https://www.cnbc.com/2024/03/01/veteran-advisor-sees-signs-of-a-market-bubble-but-not-of-it-bursting.html',
 'https://www.cnbc.com/2024/03/01/investors-should-move-out-of-cash-and-into-fixed-income-strategist.html',
 'https://www.cnbc.com/2024/03/01/magnificent-7-alternative-stocks-citi-names-super-7-cheaper-global-shares.html',
 'https://www.cnbc.com/2024/02/29/angela-chao-death-being-investigated-as-criminal-matter.html',
 'https://www.cnbc.com/2024/02/29/stock-market-today-live-updates.html',
 'https://www.cnbc.com/2024/02/29/change-healthcare-cyberattack-has-caused-financial-mess-for-doctors.html',
 'https://www.cnbc.com/2024/02/29/snowflakes-slootman-not-worried-about-exodus-not-a-personal-cult.html',
 'https://www.cnbc.com/2024/02/29/red-light-therapy-is-trending-on-tiktok-heres-what-to-know.html',
 'https://www.cnbc.com/2024/02/29/harvard-business-school-grad-allegedly-swindled-alums-with-ponzi-scheme.html',
 'https://www.cnbc.com/2024/02/29/christies-sells-rothko-painting-for-100-million-in-a-secret-sale.html']

In [749]:
len(link)

30

In [752]:
import pandas as pd

In [756]:
df = pd.DataFrame({'heading': heading,'time': time,'link': link})

In [757]:
df

,heading,time,link
0,European markets set for gains ahead of euro z...,5 Min Ago,https://www.cnbc.com/2024/03/01/europe-markets...
1,CNBC Daily Open: Wall Street unfazed by hot in...,15 Min Ago,https://www.cnbc.com/2024/03/01/cnbc-daily-ope...
2,"India 'easily' the fastest growing economy, IM...",1 Hour Ago,https://www.cnbc.com/2024/03/01/india-easily-f...
3,Ukraine's losses on the battlefield could make...,2 Hours Ago,https://www.cnbc.com/2024/03/01/ukraines-losse...
4,Europe is having its worst earnings season in ...,2 Hours Ago,https://www.cnbc.com/2024/03/01/europe-is-havi...
5,UK to lead European real estate boom as buyers...,2 Hours Ago,https://www.cnbc.com/2024/03/01/uk-europe-real...
6,India approves three chip plants with over $15...,4 Hours Ago,https://www.cnbc.com/2024/03/01/india-boosts-c...
7,China calls on foreign businesses to share the...,4 Hours Ago,https://www.cnbc.com/2024/03/01/china-calls-on...
8,What tech giants are betting on — from robot d...,4 Hours Ago,https://www.cnbc.com/2024/03/01/latest-tech-ga...
9,Facebook is getting rid of the News tab in the...,4 Hours Ago,https://www.cnbc.com/2024/03/01/facebook-is-ge...
10,Japan's factory activity contracts most in ove...,5 Hours Ago,https://www.cnbc.com/2024/03/01/japans-factory...
11,CNBC Daily Open: Hot inflation data but could ...,7 Hours Ago,https://www.cnbc.com/2024/03/01/cnbc-daily-ope...
12,Jim Cramer explains why the market rallied on ...,7 Hours Ago,https://www.cnbc.com/2024/02/29/jim-cramer-exp...
13,Tesla stands to earn billions by opening U.S. ...,8 Hours Ago,https://www.cnbc.com/2024/02/29/tesla-to-earn-...
14,Psychologist: The No. 1 'gentle parenting' mis...,8 Hours Ago,https://www.cnbc.com/2024/02/29/psychologist-t...
15,10 best places to buy a winter vacation home b...,8 Hours Ago,https://www.cnbc.com/2024/02/29/vacasa-top-us-...
16,CEO says Hormel Foods is well-positioned as we...,8 Hours Ago,https://www.cnbc.com/2024/02/29/ceo-says-horme...
17,Cramer's Lightning Round: Signet Jewelers is a...,8 Hours Ago,https://www.cnbc.com/2024/02/29/cramers-lightn...
18,"Japan's Nikkei 225 closes shy of 40,000 record...",8 Hours Ago,https://www.cnbc.com/2024/03/01/asia-markets-....
19,India’s Byju’s lost more than $20 billion in v...,8 Hours Ago,https://www.cnbc.com/2024/03/01/the-rise-and-f...
20,Veteran advisor sees signs of an AI-fueled mar...,8 Hours Ago,https://www.cnbc.com/2024/03/01/veteran-adviso...
21,Forget cash — it's time to move into fixed inc...,8 Hours Ago,https://www.cnbc.com/2024/03/01/investors-shou...
22,Citi names 'Super 7' global stocks similar to ...,8 Hours Ago,https://www.cnbc.com/2024/03/01/magnificent-7-...
23,Death of Foremost CEO Angela Chao under 'crimi...,9 Hours Ago,https://www.cnbc.com/2024/02/29/angela-chao-de...
24,Stock futures edge higher after the market wra...,9 Hours Ago,https://www.cnbc.com/2024/02/29/stock-market-t...
25,Outages from Change Healthcare cyberattack cau...,10 Hours Ago,https://www.cnbc.com/2024/02/29/change-healthc...
26,Snowflake's Slootman not worried about employe...,10 Hours Ago,https://www.cnbc.com/2024/02/29/snowflakes-slo...
27,High-tech red light therapy is trending on Tik...,10 Hours Ago,https://www.cnbc.com/2024/02/29/red-light-ther...
28,Harvard Business School grad accused of swindl...,10 Hours Ago,https://www.cnbc.com/2024/02/29/harvard-busine...
29,Christie's just sold a Rothko painting for $10...,10 Hours Ago,https://www.cnbc.com/2024/02/29/christies-sell...

## Q3-Please visit https://www.keaipublishing.com/en/journals/artificial-intelligence-in-agriculture/most-downloaded-articles/ and scrap-

a) Paper title

b) date

c) Author

In [758]:
page = requests.get('https://www.keaipublishing.com/en/journals/artificial-intelligence-in-agriculture/most-downloaded-articles/')

In [759]:
page

In [760]:
soup2 = BeautifulSoup(page.content)

In [763]:
title = []
for j in soup2.find_all('h2',class_="h5 article-title"):
    title.append(j.text.strip())

In [764]:
title

['Implementation of artificial intelligence in agriculture for optimisation of irrigation and application of pesticides and herbicides',
 'Review of agricultural IoT technology',
 'A comprehensive review on automation in agriculture using artificial intelligence',
 'Automation and digitization of agriculture using artificial intelligence and internet of things',
 'Applications of electronic nose (e-nose) and electronic tongue (e-tongue) in food quality-related properties determination: A review',
 'Fruit ripeness classification: A survey',
 'A review of imaging techniques for plant disease detection',
 'Deep learning based computer vision approaches for smart agricultural applications',
 'Comparison of CNN-based deep learning architectures for rice diseases classification',
 'Transfer Learning for Multi-Crop Leaf Disease Image Classification using Convolutional Neural Network VGG',
 'Plant disease detection using hybrid model based on convolutional autoencoder and convolutional neural network',
 'Machine learning in nutrient management: A review',
 'DeepRice: A deep learning and deep feature based classification of Rice leaf disease subtypes',
 'How artificial intelligence uses to achieve the agriculture sustainability: Systematic review',
 'Machine learning for weed–plant discrimination in agriculture 5.0: An in-depth review',
 'Examining the interplay between artificial intelligence and the agri-food industry',
 'Deep convolutional neural network models for weed detection in polyhouse grown bell peppers',
 'A systematic review of machine learning techniques for cattle identification: Datasets, methods and future directions',
 'A review on computer vision systems in monitoring of poultry: A welfare perspective',
 'Crop diagnostic system: A robust disease detection and management system for leafy green crops grown in an aquaponics facility',
 'Artificial cognition for applications in smart agriculture: A comprehensive review',
 'Explainable artificial intelligence and interpretable machine learning for agricultural data analysis',
 'Blockchain: A new safeguard for agri-foods',
 'Study on body temperature detection of pig based on infrared technology: A review',
 'Vision Intelligence for Smart Sheep Farming: Applying Ensemble Learning to Detect Sheep Breeds']

In [765]:
len(title)

25

In [766]:
Date = []
for j in soup2.find_all('p',class_="article-date"):
    Date.append(j.text.strip())

In [767]:
Date

['2020',
 '2022',
 'June 2019',
 '2021',
 '2020',
 'March 2023',
 '2020',
 '2022',
 'September 2023',
 '2022',
 '2021',
 'September 2023',
 'March 2024',
 'June 2023',
 'December 2023',
 '2022',
 '2022',
 '2022',
 '2020',
 'December 2023',
 '2020',
 '2022',
 '2020',
 'March 2019',
 'March 2024']

In [768]:
len(Date)

25

In [769]:
Author = []
for j in soup2.find_all('p',class_="article-authors"):
    Author.append(j.text)

In [770]:
Author

[' Tanha Talaviya |  Dhara Shah |  Nivedita Patel |  Hiteshri Yagnik |  Manan Shah',
 ' Jinyuan Xu |  Baoxing Gu |  Guangzhao Tian',
 ' Kirtan Jha |  Aalap Doshi |  Poojan Patel |  Manan Shah',
 ' A. Subeesh |  C.R. Mehta',
 ' Juzhong Tan |  Jie Xu',
 ' Matteo Rizzo |  Matteo Marcuzzo |  Alessandro Zangari |  Andrea Gasparetto |  Andrea Albarelli',
 ' Vijai Singh |  Namita Sharma |  Shikha Singh',
 ' V.G. Dhanya |  A. Subeesh |  N.L. Kushwaha |  Dinesh Kumar Vishwakarma |  T. Nagesh Kumar |  G. Ritika |  A.N. Singh',
 ' Md Taimur Ahad |  Yan Li |  Bo Song |  Touhid Bhuiyan',
 ' Ananda S. Paymode |  Vandana B. Malode',
 ' Punam Bedi |  Pushkar Gole',
 ' Oumnia Ennaji |  Leonardus Vergütz |  Achraf El Allali',
 ' P. Isaac Ritharson |  Kumudha Raimond |  X. Anitha Mary |  Jennifer Eunice Robert |  Andrew J',
 ' Vilani Sachithra |  L.D.C.S. Subhashini',
 ' Filbert H. Juwono |  W.K. Wong |  Seema Verma |  Neha Shekhawat |  Basil Andy Lease |  Catur Apriono',
 ' Abderahman Rejeb |  Karim Rejeb |  Suhaiza Zailani |  John G. Keogh |  Andrea Appolloni',
 ' A. Subeesh |  S. Bhole |  K. Singh |  N.S. Chandel |  Y.A. Rajwade |  K.V.R. Rao |  S.P. Kumar |  D. Jat',
 ' Md Ekramul Hossain |  Muhammad Ashad Kabir |  Lihong Zheng |  Dave L. Swain |  Shawn McGrath |  Jonathan Medway',
 ' Cedric Okinda |  Innocent Nyalala |  Tchalla Korohou |  Celestine Okinda |  Jintao Wang |  Tracy Achieng |  Patrick Wamalwa |  Tai Mang |  Mingxia Shen',
 ' R. Abbasi |  P. Martinez |  R. Ahmad',
 ' Misbah Pathan |  Nivedita Patel |  Hiteshri Yagnik |  Manan Shah',
 ' Masahiro Ryo',
 ' Jie Xu |  Shuang Guo |  David Xie |  Yaxuan Yan',
 ' Zaiqin Zhang |  Hang Zhang |  Tonghai Liu',
 ' Galib Muhammad Shahriar Himel |  Md. Masudul Islam |  Mijanur Rahaman']

In [771]:
len(Author)

25

In [772]:
df2 = pd.DataFrame({'title':title,'Date':Date,'Author':Author})

In [773]:
df2

,title,Date,Author
0,Implementation of artificial intelligence in a...,2020,Tanha Talaviya | Dhara Shah | Nivedita Pate...
1,Review of agricultural IoT technology,2022,Jinyuan Xu | Baoxing Gu | Guangzhao Tian
2,A comprehensive review on automation in agricu...,June 2019,Kirtan Jha | Aalap Doshi | Poojan Patel | ...
3,Automation and digitization of agriculture usi...,2021,A. Subeesh | C.R. Mehta
4,Applications of electronic nose (e-nose) and e...,2020,Juzhong Tan | Jie Xu
5,Fruit ripeness classification: A survey,March 2023,Matteo Rizzo | Matteo Marcuzzo | Alessandro...
6,A review of imaging techniques for plant disea...,2020,Vijai Singh | Namita Sharma | Shikha Singh
7,Deep learning based computer vision approaches...,2022,V.G. Dhanya | A. Subeesh | N.L. Kushwaha | ...
8,Comparison of CNN-based deep learning architec...,September 2023,Md Taimur Ahad | Yan Li | Bo Song | Touhid...
9,Transfer Learning for Multi-Crop Leaf Disease ...,2022,Ananda S. Paymode | Vandana B. Malode
10,Plant disease detection using hybrid model bas...,2021,Punam Bedi | Pushkar Gole
11,Machine learning in nutrient management: A review,September 2023,Oumnia Ennaji | Leonardus Vergütz | Achraf ...
12,DeepRice: A deep learning and deep feature bas...,March 2024,P. Isaac Ritharson | Kumudha Raimond | X. A...
13,How artificial intelligence uses to achieve th...,June 2023,Vilani Sachithra | L.D.C.S. Subhashini
14,Machine learning for weed–plant discrimination...,December 2023,Filbert H. Juwono | W.K. Wong | Seema Verma...
15,Examining the interplay between artificial int...,2022,Abderahman Rejeb | Karim Rejeb | Suhaiza Za...
16,Deep convolutional neural network models for w...,2022,A. Subeesh | S. Bhole | K. Singh | N.S. Ch...
17,A systematic review of machine learning techni...,2022,Md Ekramul Hossain | Muhammad Ashad Kabir | ...
18,A review on computer vision systems in monitor...,2020,Cedric Okinda | Innocent Nyalala | Tchalla ...
19,Crop diagnostic system: A robust disease detec...,December 2023,R. Abbasi | P. Martinez | R. Ahmad
20,Artificial cognition for applications in smart...,2020,Misbah Pathan | Nivedita Patel | Hiteshri Y...
21,Explainable artificial intelligence and interp...,2022,Masahiro Ryo
22,Blockchain: A new safeguard for agri-foods,2020,Jie Xu | Shuang Guo | David Xie | Yaxuan Yan
23,Study on body temperature detection of pig bas...,March 2019,Zaiqin Zhang | Hang Zhang | Tonghai Liu
24,Vision Intelligence for Smart Sheep Farming: A...,March 2024,Galib Muhammad Shahriar Himel | Md. Masudul ...

## 4) Write a python program to scrape first 10 product details which include product name , price , Image URL from
https://www.bewakoof.com/bestseller?sort=popular .

In [777]:
page = requests.get('https://www.bewakoof.com/bestseller?sort=popular')
page
soup = BeautifulSoup(page.content)

In [778]:
product_name = []
for i in soup.find_all('h2',class_='clr-shade4'):
    product_name.append(i.text)

In [779]:
product_name

["Women's Blue Round in Bugs Graphic Printed Oversized Short Top",
 "Women's Black Boyfriend T-shirt",
 "Men's Black T-shirt",
 "Men's Jet Black Vest",
 "Men's Black Batman Outline Logo T-shirt",
 "Men's Black T-Shirts",
 "Men's Black Iron Man of War Graphic Printed Vest",
 "Men's Black Friends Logo T-shirt",
 "Women's Red Boyfriend T-shirt",
 "Men's White T-shirt"]

In [780]:
price = []
for i in soup.find_all('div',class_="discountedPriceText"):
    price.append(i.text)

price

['₹542',
 '₹399',
 '₹499',
 '₹399',
 '₹399',
 '₹499',
 '₹399',
 '₹449',
 '₹399',
 '₹449']

In [781]:
image_link = []
for i in soup.find_all('img',class_="productImgTag"):
    image_link.append(i['src'])
    
image_link

['https://images.bewakoof.com/t640/women-s-blue-round-in-bugs-graphic-printed-oversized-short-top-589789-1707221362-1.jpg',
 'https://images.bewakoof.com/t640/women-s-black-boyfriend-t-shirt-103943-1655747735-1.jpg',
 'https://images.bewakoof.com/t640/men-s-black-t-shirt-106-1701423878-1.jpg',
 'https://images.bewakoof.com/t640/jet-black-vest-210687-1659522825-1.jpg',
 'https://images.bewakoof.com/t640/men-s-black-batman-outline-logo-t-shirt-283889-1701423873-1.jpg',
 'https://images.bewakoof.com/t640/men-s-black-t-shirts-1094-1708612740-1.jpg',
 'https://images.bewakoof.com/t640/iron-man-of-war-vest-avl-220651-1655748304-1.jpg',
 'https://images.bewakoof.com/t640/men-s-black-friends-logo-t-shirt-234662-1709214838-1.jpg',
 'https://images.bewakoof.com/t640/women-s-red-boyfriend-t-shirt-170465-1658918677-1.jpg',
 'https://images.bewakoof.com/t640/men-s-white-t-shirt-105-1702967985-1.jpg']

In [782]:
df = pd.DataFrame({'product_name':product_name,'price':price,'image_link':image_link})
df

,product_name,price,image_link
0,Women's Blue Round in Bugs Graphic Printed Ove...,₹542,https://images.bewakoof.com/t640/women-s-blue-...
1,Women's Black Boyfriend T-shirt,₹399,https://images.bewakoof.com/t640/women-s-black...
2,Men's Black T-shirt,₹499,https://images.bewakoof.com/t640/men-s-black-t...
3,Men's Jet Black Vest,₹399,https://images.bewakoof.com/t640/jet-black-ves...
4,Men's Black Batman Outline Logo T-shirt,₹399,https://images.bewakoof.com/t640/men-s-black-b...
5,Men's Black T-Shirts,₹499,https://images.bewakoof.com/t640/men-s-black-t...
6,Men's Black Iron Man of War Graphic Printed Vest,₹399,https://images.bewakoof.com/t640/iron-man-of-w...
7,Men's Black Friends Logo T-shirt,₹449,https://images.bewakoof.com/t640/men-s-black-f...
8,Women's Red Boyfriend T-shirt,₹399,https://images.bewakoof.com/t640/women-s-red-b...
9,Men's White T-shirt,₹449,https://images.bewakoof.com/t640/men-s-white-t...

## Q 5 Write a python program to scrape product name, price and discounts from

https://peachmode.com/search?q=bags

In [733]:
web = requests.get('https://peachmode.com/search?q=bags')
web

In [734]:
soup = BeautifulSoup(web.content)

In [712]:
products = []
for product in soup.find_all('li'):
    products.append(product)

In [117]:
soup.find_all('span',class_="discounted_price st-money")

In [68]:
Name = []
for i in soup.find_all('div',class_="product-prices"):
    Name.append(i.text)

In [69]:
Name

['\nFrom \n${currency }$${ numberWithComa(item.activeDiscountedPrice) }$\n${ currency }$${numberWithComa(item.activePrice) }$\n\n',
 '\n\n${currency }$${ numberWithComa(item.activeDiscountedPrice) }$\n']

In [735]:
products = []
for product in soup.find_all('div',class_="popover-container"):
    products.append(product.text)

In [736]:
products

['\n\nCountry/region\nIndia (INR ₹)\n\n\n\n\n\nCountry/region\n\n\n\n\n\n\nAustralia (INR ₹)\n                          \n\nAustria (INR ₹)\n                          \n\nBelgium (INR ₹)\n                          \n\nCanada (INR ₹)\n                          \n\nCzechia (INR ₹)\n                          \n\nDenmark (INR ₹)\n                          \n\nFiji (INR ₹)\n                          \n\nFinland (INR ₹)\n                          \n\nFrance (INR ₹)\n                          \n\nGermany (INR ₹)\n                          \n\nHong Kong SAR (INR ₹)\n                          \n\nIndia (INR ₹)\n                          \n\nIreland (INR ₹)\n                          \n\nIsrael (INR ₹)\n                          \n\nItaly (INR ₹)\n                          \n\nJapan (INR ₹)\n                          \n\nKuwait (INR ₹)\n                          \n\nMalaysia (INR ₹)\n                          \n\nMauritius (INR ₹)\n                          \n\nNetherlands (INR ₹)\n                          \n\nNew Zealand (INR ₹)\n                          \n\nNorway (INR ₹)\n                          \n\nPoland (INR ₹)\n                          \n\nPortugal (INR ₹)\n                          \n\nQatar (INR ₹)\n                          \n\nSaudi Arabia (INR ₹)\n                          \n\nSingapore (INR ₹)\n                          \n\nSouth Africa (INR ₹)\n                          \n\nSpain (INR ₹)\n                          \n\nSri Lanka (INR ₹)\n                          \n\nSweden (INR ₹)\n                          \n\nSwitzerland (INR ₹)\n                          \n\nThailand (INR ₹)\n                          \n\nUnited Arab Emirates (INR ₹)\n                          \n\nUnited Kingdom (INR ₹)\n                          \n\nUnited States (INR ₹)\n                          \n\nVietnam (INR ₹)\n                          \n\n\n\n',
 '\n\nCountry/region\nIndia (INR ₹)\n\n\n\n\n\nCountry/region\n\n\n\n\n\n\nAustralia (INR ₹)\n                          \n\nAustria (INR ₹)\n                          \n\nBelgium (INR ₹)\n                          \n\nCanada (INR ₹)\n                          \n\nCzechia (INR ₹)\n                          \n\nDenmark (INR ₹)\n                          \n\nFiji (INR ₹)\n                          \n\nFinland (INR ₹)\n                          \n\nFrance (INR ₹)\n                          \n\nGermany (INR ₹)\n                          \n\nHong Kong SAR (INR ₹)\n                          \n\nIndia (INR ₹)\n                          \n\nIreland (INR ₹)\n                          \n\nIsrael (INR ₹)\n                          \n\nItaly (INR ₹)\n                          \n\nJapan (INR ₹)\n                          \n\nKuwait (INR ₹)\n                          \n\nMalaysia (INR ₹)\n                          \n\nMauritius (INR ₹)\n                          \n\nNetherlands (INR ₹)\n                          \n\nNew Zealand (INR ₹)\n                          \n\nNorway (INR ₹)\n                          \n\nPoland (INR ₹)\n                          \n\nPortugal (INR ₹)\n                          \n\nQatar (INR ₹)\n                          \n\nSaudi Arabia (INR ₹)\n                          \n\nSingapore (INR ₹)\n                          \n\nSouth Africa (INR ₹)\n                          \n\nSpain (INR ₹)\n                          \n\nSri Lanka (INR ₹)\n                          \n\nSweden (INR ₹)\n                          \n\nSwitzerland (INR ₹)\n                          \n\nThailand (INR ₹)\n                          \n\nUnited Arab Emirates (INR ₹)\n                          \n\nUnited Kingdom (INR ₹)\n                          \n\nUnited States (INR ₹)\n                          \n\nVietnam (INR ₹)\n                          \n\n\n\n']

### i am not able to find the answer kindly help me to get the answer, kindly arrange a session again for better understanding

## Q 6 Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:
a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.

b) Top 10 ODI Batsmen along with the records of their team and rating.

c) Top 10 ODI bowlers along with the records of their team and rating.

In [617]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [774]:
page=requests.get("https://www.icc-cricket.com/rankings/team-rankings/mens/odi")

In [775]:
page

In [776]:
soup = BeautifulSoup(page.content,'html.parser')

In [628]:
table = soup.find_all('div',class_="si-table-row")

In [629]:
table

[]

In [732]:
team = []     
    
for i in msoup.find_all('span' ,class_ = "u-hide-phablet"):
    team.append (i. text)
    print(i.text)

team

[]

### i am not able to find the answer kindly help me to get the answer, kindly arrange a session again for better understanding

## Q7 Write a python program to scrape details of all the posts from https://www.patreon.com/coreyms .Scrape the
heading, date, content and the likes for the video from the link for the youtube video from the post.

In [665]:
page = requests.get('https://www.patreon.com/coreyms')

In [666]:
page

In [667]:
soup = BeautifulSoup(page.content)

In [698]:
content = []
for i in soup.find_all('div',class_="sc-1ye87qi-0 bCBphS"):
    header.append(i.text)

In [699]:
content

[]

In [694]:
date = []
for i in soup.find_all('a',class_="sc-jQrDum bMyBFw"):
    date.append(i.text)

In [695]:
date

[]

In [700]:
head = []
for i in soup.find_all('span',class_="sc-1hmaiaw-0 fIBzIT"):
    head.append(i.text)

In [701]:
head

[]

In [702]:
like = []
for i in soup.find_all('span',class_="sc-fotOHu dFvBhM"):
    line.append(i.text)

In [703]:
like

[]

### i am not able to find the answer kindly help me to get the answer, kindly arrange a session again for better understanding

## Q 8 Write a python program to scrape house details from mentioned URL. It should include house title, location,
## area, EMI and price from https://www.nobroker.in/ .Enter three localities which are Indira Nagar, Jayanagar,
## Rajaji Nagar.

In [466]:
page = requests.get('https://www.nobroker.in/')

In [467]:
soup = BeautifulSoup(page.content)

In [470]:
house_title=soup.find_all("h2",class_="heading-6 flex items-center font-semi-bold m-0")
htitle=[]
for i in house_title:
    for j in i.find_all("a"):
        htitle.append(i.text)

In [471]:
htitle

[]

In [641]:
title = []
for i in soup.find_all('h2',class_="overflow-hidden overflow-ellipsis"):
    title.append(i.text)

In [642]:
title

[]