In [1]:
!pip install selenium

Requirement already satisfied: selenium in c:\users\nikhi\anaconda3\lib\site-packages (4.18.1)
Requirement already satisfied: urllib3[socks]<3,>=1.26 in c:\users\nikhi\anaconda3\lib\site-packages (from selenium) (1.26.16)
Requirement already satisfied: trio~=0.17 in c:\users\nikhi\anaconda3\lib\site-packages (from selenium) (0.24.0)
Requirement already satisfied: trio-websocket~=0.9 in c:\users\nikhi\anaconda3\lib\site-packages (from selenium) (0.11.1)
Requirement already satisfied: certifi>=2021.10.8 in c:\users\nikhi\anaconda3\lib\site-packages (from selenium) (2023.7.22)
Requirement already satisfied: typing_extensions>=4.9.0 in c:\users\nikhi\anaconda3\lib\site-packages (from selenium) (4.10.0)
Requirement already satisfied: attrs>=20.1.0 in c:\users\nikhi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: sortedcontainers in c:\users\nikhi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in c:\users\nikhi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (3.4)
Requirement already satisfied: outcome in c:\users\nikhi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.0.post0)
Requirement already satisfied: sniffio>=1.3.0 in c:\users\nikhi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.3.1)
Requirement already satisfied: cffi>=1.14 in c:\users\nikhi\anaconda3\lib\site-packages (from trio~=0.17->selenium) (1.15.1)
Requirement already satisfied: wsproto>=0.14 in c:\users\nikhi\anaconda3\lib\site-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\nikhi\anaconda3\lib\site-packages (from urllib3[socks]<3,>=1.26->selenium) (1.7.1)
Requirement already satisfied: pycparser in c:\users\nikhi\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->selenium) (2.21)
Requirement already satisfied: h11<1,>=0.9.0 in c:\users\nikhi\anaconda3\lib\site-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)

In [2]:
import selenium 
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By    ## by use for the coding purpose
import time

### Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. 
You have to scrape the job-title, job-location, company_name, experience_required. You have to 
scrape first 10 jobs data.

link = https://www.shine.com/

In [174]:
driver = webdriver.Chrome()

In [182]:
driver.get('https://www.shine.com/')

In [183]:
designation = driver.find_element(By.CLASS_NAME,'input')
designation.send_keys('data analyst')

In [184]:
search = driver.find_element(By.CLASS_NAME,'iconH-zoom-white')
search.click()

In [185]:
designation = driver.find_element(By.CLASS_NAME,'form-control')
designation.send_keys('data analyst')

In [189]:
location = driver.find_element(By.XPATH,'//li[@class="searchForm_search_item__hr6Du form-group"][1]/div/input')
location.send_keys('Bangalore')

In [191]:
search = driver.find_element(By.CLASS_NAME,"searchForm_btnWrap_advance__VYBHN")
search.click()

In [219]:
job_title = []
title_tag = driver.find_elements(By.XPATH,'/html/body/div[1]/div[2]/div[4]/div/div[2]/div[1]/div/div/div[1]/div[1]/div[1]/h2')
for i in title_tag:
    title = i.text
    job_title.append(title)

In [220]:
job_title

['Clinical Data Analyst']

In [206]:
company_name = []
name = driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_cName__mYnow"]/span')
for i in name[0:10]:
    title = i.text
    company_name.append(title)

In [207]:
company_name

['techno endura',
 'sahast sales corporation',
 'radhika enterprises',
 'ara resources private limited',
 'diraa hr services hiring for mncs',
 'uprighthc solutions private limited',
 'symphoni hr pvt. ltd.',
 'spm hr solutions',
 'techno endura',
 'aspect solution']

In [208]:
Experience_req = []
name = driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_lists__fdnsc"]/div[1]')
for i in name[0:10]:
    title = i.text
    Experience_req.append(title)

In [209]:
Experience_req

['0 to 1 Yr',
 '12 to 22 Yrs',
 '0 to 4 Yrs',
 '4 to 9 Yrs',
 '0 to 1 Yr',
 '10 to 20 Yrs',
 '8 to 10 Yrs',
 '4 to 6 Yrs',
 '0 to 1 Yr',
 '0 to 1 Yr']

In [214]:
job_location = []
location = driver.find_elements(By.XPATH,'//div[@class="jobCard_jobCard_lists__fdnsc"]/div[2]')
for i in location[0:10]:
    title = i.text.replace('\n','')
    job_location.append(title)

In [215]:
job_location

['Bangalore+6',
 'Bangalore+9',
 'Bangalore+12',
 'Bangalore',
 'Bangalore+3',
 'Bangalore',
 'Bangalore+4',
 'Bangalore',
 'Bangalore+6',
 'Bangalore+9']

In [221]:
df4 = pd.DataFrame({'company_name':company_name,'Experience_req':Experience_req,'job_location':job_location})
df4

                          company_name Experience_req  job_location
0                        techno endura      0 to 1 Yr   Bangalore+6
1             sahast sales corporation   12 to 22 Yrs   Bangalore+9
2                  radhika enterprises     0 to 4 Yrs  Bangalore+12
3        ara resources private limited     4 to 9 Yrs     Bangalore
4    diraa hr services hiring for mncs      0 to 1 Yr   Bangalore+3
5  uprighthc solutions private limited   10 to 20 Yrs     Bangalore
6                symphoni hr pvt. ltd.    8 to 10 Yrs   Bangalore+4
7                     spm hr solutions     4 to 6 Yrs     Bangalore
8                        techno endura      0 to 1 Yr   Bangalore+6
9                      aspect solution      0 to 1 Yr   Bangalore+9

### 2: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. 
link = https://www.naukri.com/

You have to scrape the job-title, job-location, company_name, experience_required. You have to 
scrape first 10 jobs data.

In [123]:
driver = webdriver.Chrome()

In [124]:
# opening the naukri page on automated chrome browser
driver.get('https://www.naukri.com/')

In [125]:
# entering designation and location as required in the question
designation = driver.find_element(By.CLASS_NAME,'suggestor-input')
designation.send_keys('data analyst')

In [126]:
location = driver.find_element(By.XPATH,'/html/body/div[1]/div[7]/div/div/div[5]/div/div/div/div[1]/div/input')
location.send_keys('Bangalore')

In [127]:
location = driver.find_element(By.CLASS_NAME,'qsbSubmit')
location.click()       ## we need to click only not enter any value that's why we are using click only

In [108]:
job_title = []
# scraping job title from the given page
title_tag = driver.find_elements(By.XPATH,'//div[@class="cust-job-tuple layout-wrapper lay-2 sjw__tuple "]/div/a')
for i in title_tag[0:10]:
    title = i.text
    job_title.append(title)

In [109]:
job_title

['Data Analyst',
 'Data Analyst',
 'Online Data Analyst',
 'Data Analyst',
 'Data Analyst (automotive)',
 'Data Analyst',
 'Data Analyst',
 'Job opportunity _ Data Analyst',
 'Data Analyst',
 'ETL - Data Analyst']

In [110]:
job_location = []
# scraping job location from the given page
location = driver.find_elements(By.XPATH,'//span[@class="locWdth"]')
for j in location[0:10]:
    locate = j.text
    job_location.append(locate)

In [111]:
job_location

['Kolkata, Mumbai, New Delhi, Hyderabad, Pune, Chennai, Bengaluru',
 'Bengaluru',
 'Kolkata, Mumbai, New Delhi, Hyderabad, Pune, Chennai, Bengaluru',
 'Mumbai, Bengaluru',
 'Bangalore/Bengaluru(Domlur)',
 'Hybrid - Bangalore Rural, Karnataka, Hyderabad, Telangana, Chennai, Tamil Nadu',
 'Bengaluru(4th Phase JP Nagar)',
 'Bangalore Rural, Karnataka, Hyderabad, Telangana, India',
 'Hybrid - Bengaluru',
 'Bengaluru']

In [112]:
company_name = []
# scraping company name from the given page
company_tag = driver.find_elements(By.XPATH,'//div[@class=" row2"]/span/a[1]')
for k in company_tag[0:10]:
    company_name.append(k.text)

In [113]:
company_name

['Orbit Skyline, Inc',
 'Target',
 'TELUS International',
 'FedEx TSCS (India) Pvt Ltd',
 'Fenyes Engineered Technology Pvt Ltd',
 'Tsit Digital Technologies',
 'Objectwin Technology',
 'Talent Sketchers',
 'Team ware solutions',
 '2coms']

In [118]:
experience_required = []
experience_tag = driver.find_elements(By.XPATH,'//span[@class="expwdth"]')
for l in experience_tag[0:10]:
    exp = l.text
    experience_required.append(exp)

In [119]:
experience_required

['2-4 Yrs',
 '2-4 Yrs',
 '1-4 Yrs',
 '1-4 Yrs',
 '5-6 Yrs',
 '5-10 Yrs',
 '1-5 Yrs',
 '6-10 Yrs',
 '5-10 Yrs',
 '5-10 Yrs']

In [120]:
print(len(job_title),len(job_location),len(company_name),len(experience_required))

10 10 10 10

In [121]:
df = pd.DataFrame({'job_title':job_title,'job_location':job_location,'company_name':company_name,'experience_required':experience_required})
df

,job_title,job_location,company_name,experience_required
0,Data Analyst,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...","Orbit Skyline, Inc",2-4 Yrs
1,Data Analyst,Bengaluru,Target,2-4 Yrs
2,Online Data Analyst,"Kolkata, Mumbai, New Delhi, Hyderabad, Pune, C...",TELUS International,1-4 Yrs
3,Data Analyst,"Mumbai, Bengaluru",FedEx TSCS (India) Pvt Ltd,1-4 Yrs
4,Data Analyst (automotive),Bangalore/Bengaluru(Domlur),Fenyes Engineered Technology Pvt Ltd,5-6 Yrs
5,Data Analyst,"Hybrid - Bangalore Rural, Karnataka, Hyderabad...",Tsit Digital Technologies,5-10 Yrs
6,Data Analyst,Bengaluru(4th Phase JP Nagar),Objectwin Technology,1-5 Yrs
7,Job opportunity _ Data Analyst,"Bangalore Rural, Karnataka, Hyderabad, Telanga...",Talent Sketchers,6-10 Yrs
8,Data Analyst,Hybrid - Bengaluru,Team ware solutions,5-10 Yrs
9,ETL - Data Analyst,Bengaluru,2coms,5-10 Yrs

### Q3: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand 
2. ProductDescription 
3. Price

In [149]:
import selenium 
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
from selenium.webdriver.common.by import By   
import time

In [150]:
driver = webdriver.Chrome()

In [151]:
driver.get('https://www.flipkart.com/')

In [152]:
keyword = driver.find_element(By.CLASS_NAME,"Pke_EE")
keyword.send_keys('sunglasses')

In [153]:
searches = driver.find_element(By.CLASS_NAME,'_2iLD__')
searches.click()

In [154]:
Brands = []
brand = driver.find_elements(By.CLASS_NAME,"_2WkVRV")
for i in brand:
    Brands.append(i.text)

In [155]:
Brands

['Singco India',
 'Singco India',
 'SRPM',
 'Fastrack',
 'Elligator',
 'Fastrack',
 'Aarna Fashion',
 'Singco India',
 'ROADWAY',
 'Elligator',
 'Singco India',
 'ROYAL SON',
 'Fastrack',
 'Woggles',
 'ROADWAY',
 'Elligator',
 'Singco India',
 'Eyewearlabs',
 'KOPEK',
 'Elligator',
 'Nicole Miller',
 'RESIST EYEWEAR',
 'VINCENT CHASE',
 'Elligator',
 'Fastrack',
 'Rich Club',
 'VILLAIN',
 'LOUIS KOUROS',
 'peter india',
 'PIRASO',
 'Eyewearlabs',
 'Singco India',
 'PIRASO',
 'VINCENT CHASE',
 'Aarna Fashion',
 'Hooper',
 'LOUIS KOUROS',
 'EYELLUSION',
 'SRPM',
 'VINCENT CHASE']

In [156]:
Product_description = []
product = driver.find_elements(By.CLASS_NAME,"IRpwTa")
for j in product:
    Product_description.append(j.text)

In [157]:
Product_description

['UV Protection, Riding Glasses, Gradient Clubmaster Sung...',
 'UV Protection, Riding Glasses Retro Square, Rectangular...',
 'UV Protection Wayfarer Sunglasses (50)',
 'UV Protection Wayfarer Sunglasses (58)',
 'UV Protection, Mirrored Wayfarer Sunglasses (52)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (50)',
 'Mirrored Wayfarer Sunglasses (50)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (53)',
 'Riding Glasses, UV Protection Clubmaster, Wayfarer Sung...',
 'Polarized, UV Protection Retro Square Sunglasses (55)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'Polarized Cat-eye Sunglasses (Free Size)',
 'UV Protection Wayfarer, Sports, Spectacle , Retro Squar...',
 'UV Protection Wayfarer Sunglasses (50)',
 'Gradient, Toughened Glass Lens, UV Protection Retro Squ...',
 'Polarized, UV Protection Wayfarer Sunglasses (51)',
 'UV Protection Cat-eye Sunglasses (Free Size)',
 'UV Protection Cat-eye, Retro Square, Oval, Round Sungla...',
 'Polarized Butterfly Sunglasses (64)',
 'Toughened Glass Lens Aviator Sunglasses (Free Size)',
 'by Lenskart Polarized, UV Protection Wayfarer Sunglasse...',
 'UV Protection Retro Square Sunglasses (54)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Retro Square Sunglasses (54)',
 'Others Retro Square Sunglasses (Free Size)',
 'UV Protection, Mirrored, Riding Glasses Aviator Sunglas...',
 'Polarized Aviator Sunglasses (Free Size)',
 'UV Protection Over-sized Sunglasses (65)',
 'Polarized, UV Protection Retro Square Sunglasses (54)',
 'Mirrored, UV Protection, Riding Glasses, Others Wrap-ar...',
 'UV Protection Over-sized Sunglasses (60)',
 'by Lenskart UV Protection Wayfarer Sunglasses (59)',
 'UV Protection Aviator Sunglasses (50)',
 'UV Protection Wayfarer Sunglasses (45)',
 'UV Protection, Riding Glasses, Mirrored Aviator Sunglas...',
 'Night Vision, Polarized, UV Protection, Riding Glasses ...',
 'UV Protection, Gradient Aviator Sunglasses (56)',
 'by Lenskart Polarized, UV Protection Wayfarer Sunglasse...']

In [158]:
price  = []
price_product= driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
for k in price_product:
    price.append(k.text)

In [159]:
price

['₹249',
 '₹499',
 '₹169',
 '₹569',
 '₹169',
 '₹539',
 '₹325',
 '₹249',
 '₹349',
 '₹169',
 '₹340',
 '₹639',
 '₹599',
 '₹1,529',
 '₹254',
 '₹169',
 '₹590',
 '₹1,236',
 '₹170',
 '₹149',
 '₹2,499',
 '₹1,290',
 '₹449',
 '₹159',
 '₹769',
 '₹399',
 '₹499',
 '₹1,899',
 '₹259',
 '₹299',
 '₹1,999',
 '₹314',
 '₹279',
 '₹499',
 '₹325',
 '₹487',
 '₹1,079',
 '₹349',
 '₹297',
 '₹399']

In [160]:
print(len(Brands),len(Product_description),len(price))

40 40 40

In [161]:
df1 = pd.DataFrame({'Brands':Brands,'Product_description':Product_description,'price':price})

In [162]:
df1

            Brands                                Product_description   price
0     Singco India  UV Protection, Riding Glasses, Gradient Clubma...    ₹249
1     Singco India  UV Protection, Riding Glasses Retro Square, Re...    ₹499
2             SRPM             UV Protection Wayfarer Sunglasses (50)    ₹169
3         Fastrack             UV Protection Wayfarer Sunglasses (58)    ₹569
4        Elligator   UV Protection, Mirrored Wayfarer Sunglasses (52)    ₹169
5         Fastrack   UV Protection Rectangular Sunglasses (Free Size)    ₹539
6    Aarna Fashion              UV Protection Aviator Sunglasses (50)    ₹325
7     Singco India                  Mirrored Wayfarer Sunglasses (50)    ₹249
8          ROADWAY  UV Protection Retro Square Sunglasses (Free Size)    ₹349
9        Elligator             UV Protection Wayfarer Sunglasses (53)    ₹169
10    Singco India  Riding Glasses, UV Protection Clubmaster, Wayf...    ₹340
11       ROYAL SON  Polarized, UV Protection Retro Square Sunglass...    ₹639
12        Fastrack  Gradient, UV Protection Wayfarer Sunglasses (F...    ₹599
13         Woggles           Polarized Cat-eye Sunglasses (Free Size)  ₹1,529
14         ROADWAY  UV Protection Wayfarer, Sports, Spectacle , Re...    ₹254
15       Elligator             UV Protection Wayfarer Sunglasses (50)    ₹169
16    Singco India  Gradient, Toughened Glass Lens, UV Protection ...    ₹590
17     Eyewearlabs  Polarized, UV Protection Wayfarer Sunglasses (51)  ₹1,236
18           KOPEK       UV Protection Cat-eye Sunglasses (Free Size)    ₹170
19       Elligator  UV Protection Cat-eye, Retro Square, Oval, Rou...    ₹149
20   Nicole Miller                Polarized Butterfly Sunglasses (64)  ₹2,499
21  RESIST EYEWEAR  Toughened Glass Lens Aviator Sunglasses (Free ...  ₹1,290
22   VINCENT CHASE  by Lenskart Polarized, UV Protection Wayfarer ...    ₹449
23       Elligator         UV Protection Retro Square Sunglasses (54)    ₹159
24        Fastrack              UV Protection Aviator Sunglasses (58)    ₹769
25       Rich Club         UV Protection Retro Square Sunglasses (54)    ₹399
26         VILLAIN         Others Retro Square Sunglasses (Free Size)    ₹499
27    LOUIS KOUROS  UV Protection, Mirrored, Riding Glasses Aviato...  ₹1,899
28     peter india           Polarized Aviator Sunglasses (Free Size)    ₹259
29          PIRASO           UV Protection Over-sized Sunglasses (65)    ₹299
30     Eyewearlabs  Polarized, UV Protection Retro Square Sunglass...  ₹1,999
31    Singco India  Mirrored, UV Protection, Riding Glasses, Other...    ₹314
32          PIRASO           UV Protection Over-sized Sunglasses (60)    ₹279
33   VINCENT CHASE  by Lenskart UV Protection Wayfarer Sunglasses ...    ₹499
34   Aarna Fashion              UV Protection Aviator Sunglasses (50)    ₹325
35          Hooper             UV Protection Wayfarer Sunglasses (45)    ₹487
36    LOUIS KOUROS  UV Protection, Riding Glasses, Mirrored Aviato...  ₹1,079
37      EYELLUSION  Night Vision, Polarized, UV Protection, Riding...    ₹349
38            SRPM    UV Protection, Gradient Aviator Sunglasses (56)    ₹297
39   VINCENT CHASE  by Lenskart Polarized, UV Protection Wayfarer ...    ₹399

In [164]:
Brands = []
Product_Description = []
Price_list = []

In [165]:
start = 0
end = 4
for page in range(start,end):
    brand = driver.find_elements(By.CLASS_NAME,"_2WkVRV")
    for i in brand:
        Brands.append(i.text)
    product = driver.find_elements(By.CLASS_NAME,"IRpwTa")
    for j in product:
        Product_Description.append(j.text)
    
    price_product= driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for k in price_product:
        Price_list.append(k.text)
    next_button = driver.find_element(By.XPATH,'/html/body/div/div/div[3]/div[1]/div[2]/div[12]/div/div/nav/a[11]')
    next_button.click()
    time.sleep(3)

In [171]:
print(len(Brands),len(Product_Description),len(Price_list))

160 160 160

In [168]:
Brands

['Singco India',
 'Singco India',
 'SRPM',
 'Fastrack',
 'Elligator',
 'Fastrack',
 'Aarna Fashion',
 'Singco India',
 'ROADWAY',
 'Elligator',
 'Singco India',
 'ROYAL SON',
 'Fastrack',
 'Woggles',
 'ROADWAY',
 'Elligator',
 'Singco India',
 'Eyewearlabs',
 'KOPEK',
 'Elligator',
 'Nicole Miller',
 'RESIST EYEWEAR',
 'VINCENT CHASE',
 'Elligator',
 'Fastrack',
 'Rich Club',
 'VILLAIN',
 'LOUIS KOUROS',
 'peter india',
 'PIRASO',
 'Eyewearlabs',
 'Singco India',
 'PIRASO',
 'VINCENT CHASE',
 'Aarna Fashion',
 'Hooper',
 'LOUIS KOUROS',
 'EYELLUSION',
 'SRPM',
 'VINCENT CHASE',
 'Singco India',
 'Resist',
 'Elligator',
 'PIRASO',
 'PIRASO',
 'RBGIIT',
 'NuVew',
 'AISLIN',
 'ROZZETTA CRAFT',
 'Fastrack',
 'AISLIN',
 'Eyewearlabs',
 'NuVew',
 'Roadster',
 'VINCENT CHASE',
 'VINCENT CHASE',
 'LOUIS KOUROS',
 'AISLIN',
 'PROVOGUE',
 'PIRASO',
 'RESIST EYEWEAR',
 'Woggles',
 'AISLIN',
 'PIRASO',
 'VINCENT CHASE',
 'PIRASO',
 'RESIST EYEWEAR',
 'NuVew',
 'ROADWAY',
 'VINCENT CHASE',
 'ROYAL SON',
 'ROYAL SON',
 'VINCENT CHASE',
 'PIRASO',
 'Elligator',
 'AISLIN',
 'LOUIS KOUROS',
 'ROZZETTA CRAFT',
 'Singco India',
 'ROZZETTA CRAFT',
 'AISLIN',
 'Resist',
 'AISLIN',
 'METRONAUT',
 'IRUS',
 'IDEE',
 'NuVew',
 'LOUIS KOUROS',
 'HRX by Hrithik Roshan',
 'Elligator',
 'ROYAL SON',
 'Ann Taylor',
 'ROYAL SON',
 'HRX by Hrithik Roshan',
 'Mast & Harbour',
 'AISLIN',
 'Ann Taylor',
 'AISLIN',
 'AISLIN',
 'Fastrack',
 'ROYAL SON',
 'AISLIN',
 'john jacobs',
 'Ray-Ban',
 'hayden haiza',
 'NuVew',
 'Nicole Miller',
 'AISLIN',
 'VINCENT CHASE',
 'AISLIN',
 'AISLIN',
 'AISLIN',
 'IRUS',
 'AISLIN',
 'HRX by Hrithik Roshan',
 'VINCENT CHASE',
 'AISLIN',
 'AISLIN',
 'Ray-Ban',
 'AISLIN',
 'NuVew',
 'ROYAL SON',
 'VINCENT CHASE',
 'RESIST EYEWEAR',
 'AISLIN',
 'GUESS',
 'AISLIN',
 'Ann Taylor',
 'VINCENT CHASE',
 'ROYAL SON',
 'Resist',
 'Resist',
 'AISLIN',
 'VINCENT CHASE',
 'ROYAL SON',
 'john jacobs',
 'Nicole Miller',
 'Ann Taylor',
 'ROYAL SON',
 'POLAROID',
 'Resist',
 'Resist',
 'IDEE',
 'Ray-Ban',
 'elegante',
 'john jacobs',
 'ROYAL SON',
 'AISLIN',
 'john jacobs',
 'OAKLEY',
 'NuVew',
 'Ann Taylor',
 'AISLIN',
 'AISLIN',
 'IDEE',
 'ROZZETTA CRAFT',
 'Resist',
 'AISLIN',
 'john jacobs',
 'john jacobs']

In [169]:
Product_Description

['UV Protection, Riding Glasses, Gradient Clubmaster Sung...',
 'UV Protection, Riding Glasses Retro Square, Rectangular...',
 'UV Protection Wayfarer Sunglasses (50)',
 'UV Protection Wayfarer Sunglasses (58)',
 'UV Protection, Mirrored Wayfarer Sunglasses (52)',
 'UV Protection Rectangular Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (50)',
 'Mirrored Wayfarer Sunglasses (50)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (53)',
 'Riding Glasses, UV Protection Clubmaster, Wayfarer Sung...',
 'Polarized, UV Protection Retro Square Sunglasses (55)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'Polarized Cat-eye Sunglasses (Free Size)',
 'UV Protection Wayfarer, Sports, Spectacle , Retro Squar...',
 'UV Protection Wayfarer Sunglasses (50)',
 'Gradient, Toughened Glass Lens, UV Protection Retro Squ...',
 'Polarized, UV Protection Wayfarer Sunglasses (51)',
 'UV Protection Cat-eye Sunglasses (Free Size)',
 'UV Protection Cat-eye, Retro Square, Oval, Round Sungla...',
 'Polarized Butterfly Sunglasses (64)',
 'Toughened Glass Lens Aviator Sunglasses (Free Size)',
 'by Lenskart Polarized, UV Protection Wayfarer Sunglasse...',
 'UV Protection Retro Square Sunglasses (54)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Retro Square Sunglasses (54)',
 'Others Retro Square Sunglasses (Free Size)',
 'UV Protection, Mirrored, Riding Glasses Aviator Sunglas...',
 'Polarized Aviator Sunglasses (Free Size)',
 'UV Protection Over-sized Sunglasses (65)',
 'Polarized, UV Protection Retro Square Sunglasses (54)',
 'Mirrored, UV Protection, Riding Glasses, Others Wrap-ar...',
 'UV Protection Over-sized Sunglasses (60)',
 'by Lenskart UV Protection Wayfarer Sunglasses (59)',
 'UV Protection Aviator Sunglasses (50)',
 'UV Protection Wayfarer Sunglasses (45)',
 'UV Protection, Riding Glasses, Mirrored Aviator Sunglas...',
 'Night Vision, Polarized, UV Protection, Riding Glasses ...',
 'UV Protection, Gradient Aviator Sunglasses (56)',
 'by Lenskart Polarized, UV Protection Wayfarer Sunglasse...',
 'Polarized, UV Protection Wayfarer, Retro Square Sunglas...',
 'UV Protection, Toughened Glass Lens, Riding Glasses Ret...',
 'UV Protection Cat-eye, Retro Square, Oval, Round Sungla...',
 'UV Protection Aviator Sunglasses (56)',
 'UV Protection Wayfarer Sunglasses (56)',
 'Night Vision, UV Protection, Polarized Wrap-around Sung...',
 'UV Protection Sports, Wrap-around Sunglasses (70)',
 'UV Protection, Gradient Retro Square Sunglasses (58)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection, Gradient Rectangular, Retro Square Sungl...',
 'Polarized, UV Protection Retro Square Sunglasses (54)',
 'UV Protection Sports Sunglasses (62)',
 'UV Protection Oval Sunglasses (58)',
 'by Lenskart Polarized, UV Protection Aviator Sunglasses...',
 'by Lenskart Polarized, UV Protection Wayfarer Sunglasse...',
 'UV Protection, Riding Glasses, Mirrored Retro Square Su...',
 'Polarized, UV Protection Wayfarer, Round Sunglasses (52...',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection Aviator Sunglasses (58)',
 'Toughened Glass Lens, UV Protection, Riding Glasses Way...',
 'UV Protection, Polarized Wayfarer Sunglasses (52)',
 'Polarized, UV Protection Wayfarer Sunglasses (53)',
 'UV Protection Wayfarer Sunglasses (56)',
 'by Lenskart Polarized, UV Protection Aviator Sunglasses...',
 'UV Protection Cat-eye Sunglasses (55)',
 'Toughened Glass Lens, UV Protection, Riding Glasses Way...',
 'UV Protection, Mirrored Sports Sunglasses (62)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'by Lenskart Polarized, UV Protection Retro Square Sungl...',
 'Polarized, UV Protection Retro Square Sunglasses (51)',
 'Polarized, UV Protection Wayfarer, Retro Square Sunglas...',
 'by Lenskart Polarized, UV Protection Rectangular Sungla...',
 'UV Protection Butterfly Sunglasses (65)',
 'UV Protection Round Sunglasses (50)',
 'Toughened Glass Lens, UV Protection Wayfarer, Rectangul...',
 'UV Protection, Riding Glasses, Mirrored Aviator Sunglas...',
 'UV Protection Wrap-around Sunglasses (Free Size)',
 'Riding Glasses, UV Protection Clubmaster, Wayfarer Sung...',
 'Polarized, Night Vision, Riding Glasses Sports, Wrap-ar...',
 'UV Protection, Gradient Butterfly, Retro Square Sunglas...',
 'UV Protection, Riding Glasses, Toughened Glass Lens Avi...',
 'UV Protection, Gradient Round Sunglasses (58)',
 'UV Protection Sunglass',
 'UV Protection Aviator Sunglasses (56)',
 'UV Protection Cat-eye Sunglasses (57)',
 'UV Protection Sports Sunglasses (73)',
 'UV Protection, Mirrored, Riding Glasses Aviator Sunglas...',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Round Sunglasses (53)',
 'UV Protection Wayfarer Sunglasses (54)',
 'UV Protection Retro Square Sunglasses (50)',
 'UV Protection Rectangular, Retro Square Sunglasses (58)',
 'Polarized, UV Protection Rectangular Sunglasses (Free S...',
 'Gradient Aviator Sunglasses (58)',
 'Toughened Glass Lens, UV Protection Aviator Sunglasses ...',
 'UV Protection Aviator Sunglasses (54)',
 'UV Protection, Gradient Butterfly, Retro Square Sunglas...',
 'UV Protection, Gradient Wayfarer Sunglasses (56)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'Polarized, UV Protection Wayfarer, Retro Square Sunglas...',
 'UV Protection, Gradient Round, Cat-eye Sunglasses (60)',
 'Polarized, UV Protection Round Sunglasses (48)',
 'UV Protection Shield Sunglasses (51)',
 'UV Protection Rectangular Sunglasses (47)',
 'UV Protection, Mirrored Aviator Sunglasses (58)',
 'Polarized Retro Square Sunglasses (52)',
 'UV Protection, Gradient Rectangular, Retro Square Sungl...',
 'by Lenskart Polarized, UV Protection Rectangular Sungla...',
 'UV Protection Wayfarer Sunglasses (59)',
 'UV Protection Wayfarer, Rectangular Sunglasses (58)',
 'UV Protection, Gradient Butterfly, Wayfarer Sunglasses ...',
 'UV Protection Wayfarer Sunglasses (56)',
 'Toughened Glass Lens, UV Protection Aviator, Wrap-aroun...',
 'Polarized Aviator Sunglasses (61)',
 'by Lenskart Polarized, UV Protection Wayfarer Sunglasse...',
 'UV Protection, Gradient Butterfly, Wayfarer Sunglasses ...',
 'UV Protection Butterfly, Retro Square Sunglasses (62)',
 'UV Protection Aviator Sunglasses (58)',
 'UV Protection Oval Sunglasses (60)',
 'UV Protection Rectangular Sunglasses (59)',
 'UV Protection, Gradient Over-sized Sunglasses (62)',
 'by Lenskart Polarized, UV Protection Cat-eye Sunglasses...',
 'Toughened Glass Lens, UV Protection, Riding Glasses Avi...',
 'UV Protection Wayfarer Sunglasses (57)',
 'UV Protection Butterfly Sunglasses (61)',
 'UV Protection, Gradient Cat-eye, Wayfarer Sunglasses (6...',
 'UV Protection Round Sunglasses (48)',
 'by Lenskart Polarized, UV Protection Rectangular Sungla...',
 'Gradient Retro Square Sunglasses (58)',
 'UV Protection, Riding Glasses, Toughened Glass Lens Avi...',
 'UV Protection, Mirrored, Riding Glasses, Toughened Glas...',
 'UV Protection, Gradient Oval Sunglasses (60)',
 'by Lenskart Polarized, UV Protection Wayfarer Sunglasse...',
 'UV Protection Retro Square Sunglasses (60)',
 'UV Protection Aviator Sunglasses (Free Size)',
 'Polarized Retro Square Sunglasses (56)',
 'UV Protection Round Sunglasses (51)',
 'Polarized, UV Protection Sports, Wrap-around Sunglasses...',
 'Polarized Retro Square Sunglasses (52)',
 'UV Protection, Riding Glasses, Toughened Glass Lens, Gr...',
 'UV Protection, Toughened Glass Lens, Riding Glasses, Gr...',
 'Polarized Retro Square Sunglasses (55)',
 'UV Protection Shield Sunglasses (55)',
 'Mirrored Round Sunglasses (Free Size)',
 'Polarized, UV Protection Retro Square Sunglasses (54)',
 'UV Protection, Gradient Butterfly, Over-sized Sunglasse...',
 'UV Protection, Gradient Retro Square Sunglasses (53)',
 'Polarized, UV Protection Wayfarer Sunglasses (53)',
 'Round Sunglass',
 'UV Protection Wayfarer Sunglasses (53)',
 'UV Protection Retro Square Sunglasses (52)',
 'Polarized, UV Protection Wayfarer, Round Sunglasses (52...',
 'UV Protection Butterfly, Retro Square Sunglasses (62)',
 'Gradient Butterfly Sunglasses (56)',
 'UV Protection Oval Sunglasses (Free Size)',
 'UV Protection, Riding Glasses, Toughened Glass Lens Avi...',
 'UV Protection, Gradient Over-sized, Retro Square Sungla...',
 'UV Protection Rectangular Sunglasses (51)',
 'Polarized, UV Protection Retro Square Sunglasses (54)']

In [170]:
Price_list

['₹249',
 '₹499',
 '₹169',
 '₹569',
 '₹169',
 '₹539',
 '₹325',
 '₹249',
 '₹349',
 '₹169',
 '₹340',
 '₹639',
 '₹599',
 '₹1,529',
 '₹254',
 '₹169',
 '₹590',
 '₹1,236',
 '₹170',
 '₹149',
 '₹2,499',
 '₹1,290',
 '₹449',
 '₹159',
 '₹769',
 '₹399',
 '₹499',
 '₹1,899',
 '₹259',
 '₹299',
 '₹1,999',
 '₹314',
 '₹279',
 '₹499',
 '₹325',
 '₹487',
 '₹1,079',
 '₹349',
 '₹297',
 '₹399',
 '₹375',
 '₹1,175',
 '₹169',
 '₹296',
 '₹221',
 '₹233',
 '₹412',
 '₹418',
 '₹459',
 '₹659',
 '₹418',
 '₹1,799',
 '₹315',
 '₹279',
 '₹649',
 '₹622',
 '₹1,072',
 '₹560',
 '₹643',
 '₹296',
 '₹1,276',
 '₹682',
 '₹518',
 '₹230',
 '₹549',
 '₹199',
 '₹1,199',
 '₹330',
 '₹251',
 '₹791',
 '₹719',
 '₹639',
 '₹699',
 '₹346',
 '₹229',
 '₹725',
 '₹1,168',
 '₹499',
 '₹340',
 '₹482',
 '₹399',
 '₹1,327',
 '₹358',
 '₹249',
 '₹569',
 '₹959',
 '₹328',
 '₹1,130',
 '₹1,039',
 '₹282',
 '₹759',
 '₹2,499',
 '₹497',
 '₹1,408',
 '₹259',
 '₹666',
 '₹2,499',
 '₹399',
 '₹625',
 '₹629',
 '₹899',
 '₹516',
 '₹1,699',
 '₹8,279',
 '₹169',
 '₹145',
 '₹2,499',
 '₹475',
 '₹879',
 '₹715',
 '₹489',
 '₹418',
 '₹359',
 '₹549',
 '₹769',
 '₹449',
 '₹418',
 '₹516',
 '₹7,039',
 '₹542',
 '₹154',
 '₹664',
 '₹974',
 '₹1,277',
 '₹449',
 '₹2,729',
 '₹418',
 '₹2,499',
 '₹974',
 '₹484',
 '₹1,292',
 '₹1,264',
 '₹542',
 '₹1,111',
 '₹569',
 '₹1,299',
 '₹2,499',
 '₹2,499',
 '₹674',
 '₹3,669',
 '₹1,421',
 '₹1,300',
 '₹2,189',
 '₹6,009',
 '₹349',
 '₹1,499',
 '₹699',
 '₹565',
 '₹3,022',
 '₹8,469',
 '₹449',
 '₹2,499',
 '₹560',
 '₹516',
 '₹1,789',
 '₹399',
 '₹1,229',
 '₹524',
 '₹1,449',
 '₹1,299']

In [172]:
df2 = pd.DataFrame({'Brands':Brands,'Product_Description':Product_Description,'Price_list':Price_list})

In [173]:
df2

,Brands,Product_Description,Price_list
0,Singco India,"UV Protection, Riding Glasses, Gradient Clubma...",₹249
1,Singco India,"UV Protection, Riding Glasses Retro Square, Re...",₹499
2,SRPM,UV Protection Wayfarer Sunglasses (50),₹169
3,Fastrack,UV Protection Wayfarer Sunglasses (58),₹569
4,Elligator,"UV Protection, Mirrored Wayfarer Sunglasses (52)",₹169
...,...,...,...
155,ROZZETTA CRAFT,UV Protection Oval Sunglasses (Free Size),₹399
156,Resist,"UV Protection, Riding Glasses, Toughened Glass...","₹1,229"
157,AISLIN,"UV Protection, Gradient Over-sized, Retro Squa...",₹524
158,john jacobs,UV Protection Rectangular Sunglasses (51),"₹1,449"
159,john jacobs,"Polarized, UV Protection Retro Square Sunglass...","₹1,299"